<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple$
<plist version="1.0">
<dict>
    <key>recipes</key>
    <array>
        
        <string>Adium.munki</string>
        <string>AdobeAcrobatPro9Update.munki</string>
        <string>AdobeAcrobatProXUpdate.munki</string>
        <string>AdobeAir.munki</string>
        <string>AdobeFlashPlayer.munki</string>
        <string>AdobeFlashPlayerExtractPackage.munki</string>
        <string>AdobeReader.munki</string>
        <string>AdobeFlashPlayer.munki</string>
        <string>AdobeReader.munki</string>
        <string>AdobeReaderUpdates.munki</string>
        <string>AdobeReaderDC.munki</string>
        <string>AdobeReaderUpdates.munki</string>
        <string>GoogleChrome.munki</string>
        <string>Sal.munki</string>
        <string>Sal-osquery.munki</string>
        <string>KeePassX.munki</string>
        <string>munkitools2.munki</string>
        <string>BBEdit.munki</string>
        <string>Coda2.munki</string>
        <string>Cyberduck.munki</string>
        <string>AdobeReader.munki</string>
        <string>AdobeReaderUpdates.munki</string>
        <string>Atom.munki</string>
        <string>AdobeFlashPlayer.munki</string>
        <string>AdobeReader.munki</string>
        <string>AdobeReaderUpdates.munki</string>
        <string>Atom.munki</string>
        <string>BBEdit.munki</string>
        <string>Dropbox.munki</string>
        <string>Evernote.munki</string>
        <string>Facter.munki</string>
        <string>Firefox.munki</string>
        <string>FirefoxSignedPkg.munki</string>
        <string>GoogleEarth.munki</string>
        <string>Handbrake.munki</string>
        <string>Hiera.munki</string>
	<string>KeePassX.munki</string>
        <string>MSAutoUpdate.munki</string>
        <string>MSDefenderATP.munki</string>
        <string>MSExcel2016.munki</string>
        <string>MSOffice2011Updates.munki</string>
        <string>MSOneNote2016.munki</string>
        <string>MSOneNote2019.munki</string>
        <string>MSWord2016.munki</string>
        <string>MSWord2019.munki</string>
        <string>munkitools2-autobuild.munki</string>
        <string>munkitools3-autobuild.munki</string>
        <string>munkitools4.munki</string>
        <string>OmniDiskSweeper.munki</string>
        <string>OmniFocus.munki</string>
        <string>OmniFocus2.munki</string>
        <string>OmniFocus3.munki</string>
        <string>OmniGraffle.munki</string>
        <string>OmniGraffle6.munki</string>
        <string>OmniGraffle7.munki</string>
        <string>OmniGrafflePro.munki</string>
        <string>OmniGraphSketcher.munki</string>
        <string>OmniOutliner.munki</string>
        <string>OmniOutliner4.munki</string>
        <string>OmniPlan.munki</string>
        <string>OmniPlan3.munki</string>
        <string>OracleJava8.munki</string>
  	<string>Praat.munki</string>
        <string>Puppet-Agent.munki</string>
        <string>Puppet.munki</string>
	<string>Sal.munki</string>
        <string>Sal-osquery.munki</string>
        <string>SassafrasK2Client.munki</string>
        <string>Skype.munki</string>
        <string>SkypeForBusiness.munki</string>
        <string>Spotify.munki</string>
        <string>TextMate.munki</string>
        <string>TextMate2.munki</string>
        <string>Thunderbird.munki</string>
        <string>Transmit.munki</string>
        <string>Transmit5.munki</string>
        <string>XLD.munki</string>
        <string>XQuartz.munki</string>
    </array>
</dict>
</plist>
